@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

// === ROOT (LIGHT THEME) ===
:root {
    @include m.theme-vars(v.$colors);

    @each $key, $value in v.$fonts {
        --#{$key}-font: #{$value};
    }

    --basic-box-shadow: #{v.$shadow-basic};
}


// === DARK THEME ===
[data-theme="dark"] {
    @include m.theme-vars((
        main: #2a2623,
        text: #ffffff,
        secondary: #ffffff,
    ));
}