@use '@/shared/styles/abstracts/mixins' as m;

.page {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    padding: 2vh 4vw;

    
    @include m.respond(mobile) {
        padding: .4rem;
    }
}