
// === SCSS VARIABLES ===
$colors: (
    main: #ffffff,
    text: #2f2f2f,
    secondary: #2f2f2f,
    accent: #c78a52,
    accent-dark: #5f4837,
    error: #e75e5e,
    like: #ea6359,
    white: #ffffff,
    gray: #979797,
    black: #2f2f2f,
    red: #ea7474,
    yellow: #ffcc13,
    green: #008f21,
    blue: #00a1e1,
);


$fonts: (
    default: ("Zain", sans-serif),
    style: ("Inria Sans", sans-serif),
    footer-title: ("Pacifico", cursive),
    like: ("Josefin Sans", sans-serif),
    input: ("Quicksand", sans-serif),
    quote: ("Story Script", sans-serif),
    check: ("Tomorrow", sans-serif)
);

$shadow-basic: 0 3px 4px 3px rgba(0, 0, 0, 0.2);

$breakpoints: (
    UHD: 3840px,
    QHD: 2560px,
    FHD: 1920px,
    tablet: 1250px,
    mobile: 550px
);