@use '@/shared/styles/abstracts/mixins' as m;

.section {
    width: 100%;

    .title {
        font-family: var(--style-font);
        font-size: 1.2rem;
        margin-bottom: .5rem;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        @include m.respond(tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        .card {
            opacity: 0;
            transform: translateY(2rem);
            transition: opacity .5s cubic-bezier(.2, 1, .35, 1) var(--delay, 0s), transform .5s cubic-bezier(.2, 1, .35, 1) var(--delay, 0s);

            &.cardVisible {
                opacity: 1;
                transform: translateY(0);
            }
        }


    }
}